body {
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(../images/free-skyline-wallpaper-1.jpg);
}

div {
    border-radius: 5px;
}

p  {
    color: purple;
    font-family: verdana;
    font-size: 160%;
    padding: 5px;
}

#logo {
    width:30px;
    height:30px;
}

h1 {
    color: purple;
}

ul.purpleNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #841e99;
    background-repeat: repeat;
    background-size: contain;
    background-image: url(../images/baby-feet-256.png)
}

li.purpleNav {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b252c5;
    font-weight: bold;
}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.2;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
/*    margin: 5%;*/
    font-weight: bold;
    font-size: 250%;
    color: #000000;
}

#middle {
    position: relative;
    background-color: #d9b1e1;
}

#view {
    transform: rotate(90deg);
}